## <font color='#607c8e'>Startup's Success Analysis</font>
<font color='#cb416b'>Data Science Foundation Program BootCamp<br/></font>
Raquel Câmara Porto

<b>Objective: Predicting the profit of a new Startup based on certain features and deciding whether one should invest in a particular startup or not.</b>

### <font color='#3c4142'>Exploratory Data Analysis</font>

In [2]:
# Importing libs
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
# Importing dataset
data = pd.read_csv('50_Startups.csv')
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
# Checking for missing values and column types
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

After that, we are able to identify the <b>features</b> (inputs) and the <b>target</b> (output), as well as the types of data on the dataset:

    1. Target:   Profit ------------ Numerical
    
    2. Features: R&D Spend --------- Numerical
                 Administration ---- Numerical
                 Marketing Spend --- Numerical
                 State ------------- Categorical
                 
Then, we can go for some basic statistical details about both numerical and categorical data.

In [5]:
# Generating descriptive statistics for numerical data
data.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [6]:
# Generating descriptive statistics for categorical data
data.describe(include=[object])

             State
count           50
unique           3
top     California
freq            17

With these information, we can summarize the central tendency, dispersion and shape of the dataset’s distribution.

In [7]:
# Recognizing the data
data['State'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

Now we can separate our dataset into features and label (target).

In [8]:
# Separating data
features = data.iloc[:, :-1]
target = data.iloc[:, -1]

In [9]:
# Checking features columns
features.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [10]:
# Checking target column
target.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

Having the Explanatory Data Analysis done, we can start preparating our data to be used on our models.